PORT=4000

# MongoDB credetials
  MONGODB_USER=
  MONGODB_PASSWORD=
  MONGODB_DOMAIN=
  MONGODB_DATABASE=


# скид пароля
# SMTP credentials
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
SMTP_FROM=NataliGluschenko@ukr.net
# ??? SMTP_FROM=admin@students.app - зараз для прикладу, для роботи потрібна реальна пошта

JWT_SECRET=

FRONTEND_DOMAIN=
